/* 가입 페이지 */
.signUp {
    width: 500px;
}

.login .row {
    margin-bottom: 20px;
}

/* 로그인 페이지 */
.btn-wrapper {
    margin-left: 100px;
}

/* 커뮤니티 상세 페이지 */
.fa-star {
    margin-bottom: 0px;
}

.card.level .card-body{
    padding: 12px
}

.detail .row .desc{
    margin-top: 0px !important;
}

.detail .top {
    margin-bottom: 50px;
}