/* 가입 페이지 */
.sign-up {
    width: 500px;
}

.sign-up .facebook {
    background: rgb(60, 90, 154); 
    border-color: rgb(60, 90, 154);
    color: white;
}

.sign-up .google {
    background: rgb(220, 78, 65);
    border-color: rgb(220, 78, 65);
    color: white !important;
}

.login .row {
    margin-bottom: 20px;
}

/* 로그인 페이지 */
.btn-wrapper {
    margin-left: 100px;
}

/* 커뮤니티 페이지 */
.data .date {
    display: inline-block;
}

.data .wait {
    color:red; 
    display: inline-block;
    margin-left: 90px;
    font-size:14.5px !important;
}

.data .close {
    color:blue; 
    display: inline-block;
    margin-left: 90px;
    font-size:14.5px !important;
}

/* 커뮤니티 상세 페이지 */
.fa-star {
    margin-bottom: 0px;
}

.card.level .card-body{
    padding: 12px
}

.detail .row .desc{
    margin-top: 0px !important;
}

.detail .top {
    margin-bottom: 50px;
}

.detail button {
    margin-bottom: 0px !important;
    right: 15px;
    bottom: 0;
    position: absolute;
}

.detail .apply{
    position: absolute;
    right: 0;
    bottom: 0;
}